<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/latest/phpunit.xsd"
         colors="true"
         cacheResultFile=".cache/.phpunit.result.cache">
    <testsuites>
        <testsuite name="beansclient tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".cache/">
        <include>
            <directory suffix=".php">./src</directory>
        </include>

        <report>
            <clover outputFile="coverage/clover.xml"/>
            <html outputDirectory="coverage/html" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>
</phpunit>
